.b-controls-bar {
  display: inline-block;
  text-align: right;
  width: 100px;
  &_button {
    border: 0;
    border-radius: 50%;
    height: 20px;
    line-height: 20px;
    margin: 0 5px;
    padding: 0;
    width: 20px;
    .b-icon {
      fill: #fff;
      height: 20px;
    }
  }
}
