.b-controls-fields {
  display: inline-block;
  margin: 10px 0;
  width: 100%;
  &_input {
    display: inline-block;
    width: calc(100% - 100px);
  }
  &_text {
    position: relative;
  }
  &_extra-input {
    left: -20px;
    position: absolute;
    top: 2px;
  }
}
