.b-controls-question {
  &_form {
    padding-bottom: 10px;
  }
  &_header {
    margin-top: 15px;
  }
  &_body {
    align-items: baseline;
    display: flex;
    flex-flow: wrap;
    margin: 10px 0 0;
  }
  &_header-title {
    color: #333;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
  }
  &_information {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    .g-icon_information {
      fill: black;
      height: 20px;
      width: 20px;
    }
  }
  &_information-text {
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    text-align: left;
    margin-left: 10px;
    width: 340px;
  }
  &_button {
    width: 130px;
  }
  &_line {
    display: inline-block;
    border-bottom: 1px solid #c3c3c3;
  }
  &_text {
    display: inline-block;
    width: 200px;
  }
  &_field {
    display: inline-block;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: middle;
    word-break: break-all;
    width: calc(100% - 100px);
  }
  &_options {
    margin: 10px 0 0;
    width: 860px;
  }
  &--short {
    display: inline-block;
    width: calc(100% - 300px);
  }
}
