@import 'aptitus-components/Assets/styles/00_settings/variables.scss';

.b-process-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 20px;
  &_title {
    align-items: center;
    color: $darkgrey;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
  }
}
