@import "aptitus-components/Assets/styles/00_settings/variables.scss";
.b-controls-upload-image  {
  display: flex;
  flex-direction: row;
}

.b-cropit-image {
  &_controls {
    .b-btn {
      margin-top: 0;
    }
  }
}
