//salary
.b-controls-salary {
  align-items: center;
  display: flex;
  &_label {
    display: inline-block;
    margin-right: 4px;
    text-align: center;
    width: 38px;
  }
  &_field {
    display: inline-block;
    width: 62px;
  }
  &_check {
    padding-left: 20px;
  }
}

.b-error-wrapper {
  right: 52%;
}
