.b-controls-notifications {
  &_group {
    display: flex;
  }
  &_options {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    width: 130px;
  }
  &_radio {
    padding: 0 20px 0 10px;
  }
  &_informations {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    width: 190px;
    .b-icon {
      height: 18px;
      width: 18px;
    }
    &__text {
      font-size: 11px;
      font-style: italic;
      padding-left: 8px;
      text-align: left;
      width: 146px;
    }
  }
}

.b-controls-saved-emails {
  display: flex;
  margin-top: 16px;
  padding-left: 186px;
  padding-right: 72px;
  .b-checkbox_span {
    font-size: 13px;
  }
}
