.b-modal-back {
  max-width: 380px;
  padding: 30px;
  &_header {
    color: #000;
    font-size: 18px;
  }
  &_link {
    color: #000;
    display: inline;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  &_footer {
    background-color: #ececec;
    color: #333;
    text-align: center;
    &__text {
      margin-right: 5px;
    }
  }
}
.b-modal_header-back {
  font-size: 14px;
}
.b-modal_body-back {
  button {
    width: 40%;
  }
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
