.b-section-requirements {
  &_title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    &__text {
      display: inline-block;
      font-size: 11px;
      font-style: italic;
      padding-left: 8px;
      vertical-align: middle;
      width: 300px;
    }
  }
  &_body {
    padding-left: 23px;
  }
}
