@import 'aptitus-components/Assets/styles/00_settings/variables.scss';

// layout
.g-form.g-form--posting {
  width: 100%;
  .g-form_right {
    width: 54%;
  }
  .g-form_left {
    width: 46%;
  }
  .g-form_label {
    text-align: right;
    width: 175px ;
    &--required {
      &:before {
        margin-right: 2px;
        position: static;
      }
    }
  }
  .g-form_control {
    width: calc(100% - 190px);
  }
  .g-form_col-2 {
    width: 46%;
    & + .g-form_col-2 {
      padding-left: 20px;
      width: 54%;
    }
  }
  .g-form--box-flex {
    align-items: center;
    display: flex;
  }
  .b-controls {
    &--short {
      width: 40%;
    }
    &_cropit {
      display: none;
      width: 100%;
    }
    &_counting {
      display: block;
      font-size: 10px;
      margin: auto 0;
      padding-top: 6px;
      text-align: right;
      &--disable {
        padding-top: 0;
        width: calc(100% - 437px);
      }
    }
  }
  .b-error-wrapper {
    right: 50%;
    top: auto;
    transform: translate(50%, 2px);
  }
}

.b-process-product-type {
  margin-bottom: 15px;
  width: 50%;
  &_column {
    display: flex;
    width: 100%;
  }
  &_title {
    color: $darkgrey;
    font-size: 20px;
    font-weight: 500;
    line-height: 15px;
    margin: 0;
    &--label {
      color: #045584;
      display: inline-block;
      margin: 0 10px 0 -13px;
      width: 189px;
    }
  }
  &_input {
    position: relative;
    width: 32%;
  }
}

.b-process {
  &_product-type {
    width: 50%;
  }
  &_product-type-content {
    display: flex;
    width: 100%;
  }
  &_product-type-select {
    width: 100%;
  }
}

.b-process-info {
  padding-bottom: 0;
  position: relative;
  &_item-body {
    padding-bottom: 34px;
  }
  &_item-body-hide {
    padding-bottom: 0;
    overflow: hidden;
    max-height: 0;
  }
  & +.b-process-info {
    border-top: 1px solid #c3c3c3;
    padding: 21px 0 0 0;
  }
  &_item-header {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
    padding: 5px 0;
  }
  &_title {
    color: $darkgrey ;
    font-size: 20px;
    font-weight: 500;
    line-height: 15px;
    margin: 0;
    &--gray {
      color: #565656;
      font-size: 16px;
    }
    &--label {
      display: inline-block;
      margin-right: 10px;
      width: 175px;
    }
  }
  &--footer {
    padding-bottom: 26px;
  }
}
